body{
  margin: 5em;
}

ul{  
  padding: 0;
}

header>nav>ul {border-bottom: 1px solid;}

li{
  margin-right: 2em;
  margin-top: 1em;
  list-style-type: none;
}

main{
  padding-top: 2em;
}

main>h1 {border-bottom: 3px solid;}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
  border-top: 3px solid;  
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
  color: gray;
  font-style: italic;
}

a {
  font-weight: bold;
  text-decoration: none;
}

img {width: 1em;}